.container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container img{
    height: 500px;
}

.container p{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;

}
.container span {
    color: var(--red);
}